@model List<OrderListDto>
<h6 class="display-6">Siparişlerim</h6>
<hr />
<table class="table table-bordered table-sm">
    <thead>
        <tr class="bg-danger">
            <th>Sipariş No</th>
            <th>Tarih</th>
            <th>Sipariş Toplamı</th>
            <th>Sipariş Detay</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.OrderNumber</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                @{
                    decimal? total = order.TotalPrice();
                }
                <td>@($"{total:C0}")</td>
                <!-- Button trigger modal -->
                
                <td class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Detay Göster
                </button>
                </td>
                <!-- Modal -->
                <div class="modal fade" id="orderDetail_@order.OrderId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Fatura</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mb-4">
                                    <div class="col-6">
                                        Sipariş No: @order.OrderNumber
                                    </div>
                                    <div class="col-6">
                                        Sipariş Tarihi: @order.OrderDate
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-6">
                                        Ad Soyad: @order.FirstName
                                        @order.LastName
                                        <br>
                                        Tel No: @order.Phone
                                    </div>
                                    <div class="col-6">
                                        Email: @order.Email
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        
                                    </div>
                                    <div class="col-4">

                                    </div>
                                    <div class="col-4">
                                        
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-12">
                                       Adres: @order.Address
                                        @order.City
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-7"></div>
                                    <div class="col-5">
                                        Toplam tutar: @order.TotalPrice()
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </tr>
        }
    </tbody>
</table>